<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigcex"
               packages="vn.co.cex">
  <Properties>
    <Property name="filename">C:/Temp/TNetTest.log</Property>
    <Property name="logpath">C:/Temp</Property>
  </Properties>
  <Filter type="ThresholdFilter" level="trace"/>
 
  <Appenders>
    <Appender type="Console" name="STDOUT">
      <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Filters>
        <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
        <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
      </Filters>
    </Appender>
    <Appender type="Console" name="FLOW">
      <Layout type="PatternLayout" pattern="%C{1}.%M %m %ex%n"/><!-- class and line number -->
      <Filters>
        <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
        <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
    </Appender>
    <Appender type="List" name="List">
    </Appender>
	<RollingFile name="RollingFile" fileName="${logpath}/cex.log"
		filePattern="${logpath}/cex-%d{yyyy-MM-dd}-%i.log" >
		<PatternLayout Pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %C{1}[%method] %-5level - %msg%n" />
		<Policies>
			<SizeBasedTriggeringPolicy size="10000 KB" />
		</Policies>
		<DefaultRolloverStrategy max="4"/>
	</RollingFile>    
  </Appenders>
 
  <Loggers>
    <Logger name="vn.co.cex.dao.impl.*" level="debug" additivity="false">
      <Filter type="ThreadContextMapFilter">
        <KeyValuePair key="test" value="123"/>
      </Filter>
      <AppenderRef ref="RollingFile"/>
    </Logger>
 
    <Logger name="vn.co.cex.bo.impl.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Logger name="vn.co.cex.bean.VehicleListBean" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Logger name="vn.co.cex.bean.VehicleInfoBean" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Logger name="vn.co.cex.bean.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>   
    <Logger name="vn.co.cex.security.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Logger name="vn.co.cex.dao.impl.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>    
    <Logger name="vn.co.cex.gcm.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>    
    <Logger name="vn.co.cex.utils.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>    
    <Logger name="vn.co.cex.utils.mail.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>       
    <Logger name="vn.co.cex.scheduler.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Logger name="vn.co.cex.ws.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
    <Logger name="vn.co.cex.apns.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>    
    <Logger name="vn.co.cex.gcm.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>    
    <Logger name="vn.co.cex.mpns.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>    
    <Logger name="vn.co.cex.bean.*" level="debug" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>                                   
    <Root level="debug">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>
</Configuration>